astroid
bcrypt
blinker
build
cffi
click
cryptography
dill
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
isort
itsdangerous
Jinja2
MarkupSafe
mccabe
packaging
pip-tools
platformdirs
pycparser
pylint
PyMySQL
pyproject_hooks
SQLAlchemy
tomlkit
typing_extensions
Werkzeug
wheel
WTForms