<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Good Choices App">
    <meta property="og:type" content="Helps manaage finishing chores around the house">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize.css') }}">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <a href="{{ url_for('index') }}"><h1 class="title">Good Choices</h1></a>
            <nav>
                <ul id="navbar">
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="{{ url_for('feedback') }}">Feedback</li></a>
                </ul>
            </nav>
        </header>
    </div>  

    <div class="main-container">
        <div class="main wrapper clearfix">
            <article class="flashes">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </article>
            {% block content %}
            {% endblock %}
        </div>
    </div>

     <div class="footer-container">
        <footer class="wrapper">
            <h3>Contact Us</h3>
            <p>Email Address</p>
        </footer>
    </div>
        
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/app.js"></script>

</body>

</html>