{% extends "base.html" %}

{% block title %} Good Choices Home {% endblock %}

{% block content %}

<article>
    <h3>Welcome to the Good Choices App</h3>
    <p></p>
    <!--h3><a hx-get="{{ url_for('register_partial') }}" hx-swap="outerHTML swap:.25s" style="color:DodgerBlue;">Create an Account!</a></h3-->
    <img src="/../static/img/family-129.jpg" alt="hugs" width="378" height="258" class="logo">
    <p></p>
    <h4>This is a simple web app to help kids and parents finish chores with positive responses after each one.</h4>
</article>

{% endblock %}