{% extends "base.html" %}

{% block title %} Good Choices Home {% endblock %}

{% block content %}

<article>
    <h2>Welcome to the Good Choices App</h2>
    <!--h3><a hx-get="{{ url_for('register_partial') }}" hx-swap="outerHTML swap:.25s" style="color:DodgerBlue;">Create an Account!</a></h3-->
    <img src="/../static/img/DSC_0209.JPG" alt="hugs" width="162" height="222" class="rounded-circle">
    <h3>This is a simple web app to help kids and parents get their chores done faster and with fewer arguments along the way.</h3>
</article>

{% endblock %}